<ul class="navbar-nav" >
  <li class="nav-item">
    <%= link_to destroy_user_session_path , class: "nav-link", data: {turbo_method: :delete} do %>               
      <i class="bi bi-door-open-fill"></i>
    <% end %>
  </li>
</ul>