<%= turbo_frame_tag player do %>
  <div class="row">
    <div class="column col-2x"><%= link_to player.full_name, player_path(player), class: 'buttonlike', data: {turbo: false} %></div>                                        
    <div class="column nomobile"><%= link_to edit_player_path(player),
                                             data: {turbo_frame: dom_id(player)} do %>
                                               <i class="bi bi-pencil-fill"></i>
                                             <% end %>
    </div>
  </div>
<% end %>