<div class="container px-1">
  <h5><%="#{@player.full_name} Matches"%></h5>
  <%= render partial: 'league_selection' %>
  <%= render partial: 'matches_table' %>
  <%= render 'manage_access_form' %>
</div>
